*{
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* fix background imges on mobile devices */
/* copied from "How To Fix Background Image Resizing Problem" */
/* https://www.boldgrid.com/support/troubleshooting/how-to-fix-background-image-resizing-problems/ */
@media only screen 
and (max-device-height : 1024px) 
and (max-device-width : 1024px) {
    .palette-primary.custom-background,
    .boldgrid-section.background-fixed {
        background-attachment: scroll !important;
    }
}
/* Current Studies Design*/

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 90%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 40;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
  line-height: 1.5em;
  height: 3em;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}

.hover-1:hover .hover-1-content {
  bottom: 5rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
  line-height: 1.5em;
  height: 3em;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}

/*  Background video and words*/
.video-overlay {
	width: 100%;
	height: 70%;
	margin-top: -20px;
	min-height: 300px;
	background: rgba(0, 0, 0, 0.5);
	padding-bottom: 30px;
}

.video-overlay-text {
	position: relative;
	top: 10vmin;
	vertical-align: middle;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.video-overlay-text h1{
	font-size: 17vmin;
	color: white;
	text-align: center;
}

.video-overlay-text p{
	font-size: 3vmax;
	color: white;
	text-align: center;
	overflow: hidden;
	z-index: -1;
}

.video-overlay-text a{
	color:aquamarine;
}

#background-video {
	/*  Background video automatic resizing */
	position: fixed;
	left:-400;
	top:-400;
	min-width: 1300px;
	min-height: 1000px;
	width: 150%;
	height: 150%;
	z-index: -10;
  }

.image-overlay-text {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	vertical-align: middle;
	font-size: 8vmin;
	height:100%;
	padding-top: 10vmin;
	padding-bottom: 10vmin;
	color: white;
	text-align: center;
}

.indextext {
	font-size: 10px;
}

.captiontext {
	font-size: 12px !important;
}


.image-overlay-text {
	font-size: 7vmin;
}

/* use inline CSS to specify the image (background-image: url(<image path>);)*/
.image-background {
	width: 100%;
	/* min-width: 100%; */
	height: 70%;
	right: 0;
	top: 0;
	z-index: -1;
	background-attachment:scroll;
	background-size: cover;
	background-position: center;
}

.img-nephew {
	width: 300px;
	height: 210px;
	object-fit: cover;
}

.img-research-questions {
	width: 300px;
	height: 330px;
	object-fit: cover;
}

.row {
  margin-bottom: 15px;
}

.jumbotron{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
}

.index-content {
	background-color: #f5f5f5;
	height: auto;

}

.index-section {
	min-height: 300px;
	background-color: greenyellow;
}

.vertical-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}


.art-btn
{
	width: 100%;
	height: 300px;
	border-width: 0;
    object-fit: cover;
    cursor:pointer;
	background-size: cover;
	background-attachment: scroll;
	background-position-x: center;
	background-position: 50%;
}


hr
{
    clear:both;
    display:block;
    width: 90%;
    margin: 5vmin;
    height: 1vmin;
	border-top: .5vmin dotted lightgray;
	border-bottom: 1vmin;;
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
  }

.row.display-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.navbar {
	background-color:black !important;
}

.graybg {
	background-color: #E7E7ED;
}

.darkgraybg {
	background-color: #3C3C6F;
	color: white;
}

/*if colors aren't clear*/
/*.navbar .navbar-toggle {
  border-color: blue;
}
.navbar .navbar-toggle .icon-bar {
  background-color: blue;
}*/

img {
	width: 100%;
	max-width: 100%;
}

ul.pagination {
	margin-left: 40%;
}
#vtechimage {
	width: 50% !important;
}
.logo {
	border: none;
}
h1 {
	font-size: 230%;
	font-weight: semi-bold;
}
h2 {
	font-size: 150%;
	font-weight: semi-bold;
}
h3 {
	font-size: 110%;
	font-weight: semi-bold;
}
ul{
	font-size: 120%;
}
#header-info {
	font-size: 140%;
}
#questions{
	margin-left: 15px;
	font-size: 150%;
}
#standardfont{
	margin-left: 15px;
	font-size: 120%;
}
#vtlogo {
	height: 50px;
	width: auto;
}
#pennlogo {
	height: 60px;
	width: auto;
}
.freetime p {
	font-size: 120%;
}
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
#footertext{
	font-size: 40%;
	font-weight: bold;
	text-align: right;
	padding-top: 35px;
}